# Database
DATABASE_URL=postgresql://kospintar:kospintar@localhost:5432/kospintar

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Auth
JWT_SECRET=change-me-to-a-secure-random-string-min-32-chars
PAY_SECRET=change-me-to-another-secure-random-string-min-32-chars

# Evolution API
EVOLUTION_URL=http://localhost:8080
EVOLUTION_API_KEY=change-me-evolution-api-key

# Midtrans
MIDTRANS_SERVER_KEY=SB-Mid-server-xxxx
MIDTRANS_CLIENT_KEY=SB-Mid-client-xxxx
MIDTRANS_SNAP_URL=https://app.sandbox.midtrans.com/api/v1
MIDTRANS_IS_PRODUCTION=false

# Frontend
CORS_ORIGIN=http://localhost:3001
NEXT_PUBLIC_API_URL=http://localhost:3000

# App
APP_URL=http://localhost:3000
NODE_ENV=development
PORT=3000
